<div class="row">
    <div class="col">
        <h1 class="h1 text-center mb-3">Insertar inscripción</h1>
    </div>
</div>
<form id="insertar_inscripcion" class="px-5">
    <div class="row">
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-fields">
                <div class="form-group mb-3">
                    <label for="codigo_grupo" class="form-label">Código de grupo</label>
                    <select class="form-control" id="codigo_grupo"></select>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-fields">
                <div class="form-group mb-3">
                    <label for="codigo_evento" class="form-label">Código de evento</label>
                    <select class="form-control" id="codigo_evento"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-buttons mb-3">
                <button type="button" class="btn btn-success"
                    onclick="createForm('insertar_inscripcion', 'inscripciones', response => response.status == 201 ? alert('Registro guardado correctamente') : alert('No se pudo crear el registro'))">Insertar</button>
                <a class="btn btn-secondary" href="index.html">Cancelar</a>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(() => {
        $("#codigo_evento").empty();
        $("#codigo_grupo").empty();

        let eventos = {'Seleccione un evento': undefined};
        let grupos = {'Seleccione un grupo': undefined};

        getRelatedDataList('inscripciones', response => {
            response.eventos.forEach(evento => {
                eventos[evento.objetivo] = evento.codigo;
            });
            response.grupos.forEach(grupo => {
                grupos[`G-${grupo.numero_grupo}, ${grupo.cantidad_estudiantes} estudiantes`] = grupo.codigo;
            });

            $.each(eventos, (key, value) => {
                $("#codigo_evento").append($("<option></option>")
                    .attr("value", value).text(key));
            });
            $.each(grupos, (key, value) => {
                $("#codigo_grupo").append($("<option></option>")
                    .attr("value", value).text(key));
            });
        });
    });
</script>
