<div class="row mb-3">
    <div class="col">
        <h1 class="h1 text-center">Lista de inscripciones</h1>
    </div>
</div>
<table class="table table-hover">
    <colgroup>
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="2" style="width: 20%" />
    </colgroup>
    <thead>
        <th scope="col" class="text-center">Inscripción</th>
        <th scope="col" class="text-center">Grupo</th>
        <th scope="col" class="text-center">Cantidad de estudiantes</th>
        <th scope="col" class="text-center">Fecha del evento</th>
        <th scope="col" class="text-center">Duración del evento</th>
        <th scope="col" colspan="2" class="text-center">Objetivo del evento</th>
    </thead>
    <tbody id="lista-inscripciones"></tbody>
</table>

<script>
    $(document).ready(() => {
        getData('inscripciones', response => {
            const defaultContent = '<tr><td></td><td colspan="5" class="text-sm-left text-center">'
                + 'No hay registros en la base de datos'
                + '</td><td></td></tr>';
            const content = response == '' ? defaultContent : response;
            $('#lista-inscripciones').html(content);
        });
    });
</script>
