<div class="row">
    <div class="col">
        <h1 class="h1 text-center mb-3">Insertar horario</h1>
    </div>
</div>
<form id="insertar_horario" class="px-5">
    <div class="row">
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-fields">
                <div class="form-group mb-3">
                    <label for="codigo_aula" class="form-label">Aula</label>
                    <select class="form-control" id="codigo_aula"></select>
                </div>
                <div class="form-group mb-3">
                    <label for="codigo_materia" class="form-label">Materia</label>
                    <select class="form-control" id="codigo_materia"></select>
                </div>
                <div class="form-group mb-3">
                    <label for="cedula_maestro" class="form-label">Maestro</label>
                    <select class="form-control" id="cedula_maestro"></select>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-fields">
                <div class="form-group mb-3">
                    <label for="codigo_grupo" class="form-label">Grupo</label>
                    <select class="form-control" id="codigo_grupo"></select>
                </div>
                <div class="form-group mb-3">
                    <label for="dias" class="form-label">Días</label>
                    <input type="text" class="form-control" id="dias" />
                </div>
                <div class="form-group mb-3">
                    <label for="hora" class="form-label">Hora</label>
                    <input type="time" class="form-control" id="hora" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-between">
            <div class="form-buttons mb-3">
                <button type="button" class="btn btn-success"
                    onclick="createForm('insertar_horario', 'horarios', response => response.status == 201 ? alert('Registro guardado correctamente') : alert('No se pudo crear el registro'))">Insertar</button>
                <a class="btn btn-secondary" href="index.html">Cancelar</a>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(() => {
        $("#codigo_aula").empty();
        $("#codigo_materia").empty();
        $("#cedula_maestro").empty();
        $("#codigo_grupo").empty();

        let aulas = {'Seleccione un aula': undefined};
        let materias = {'Seleccione una materia': undefined};
        let maestros = {'Seleccione un maestro': undefined};
        let grupos = {'Seleccione un grupo': undefined};

        getRelatedDataList('horarios', response => {
            response.aulas.forEach(aula => {
                aulas[`${aula.bloque}-${aula.numero}, ${aula.descripcion}`] = aula.codigo;
            });
            response.materias.forEach(materia => {
                materias[materia.nombre] = materia.codigo;
            });
            response.maestros.forEach(maestro => {
                maestros[maestro.correo] = maestro.cedula;
            });
            response.grupos.forEach(grupo => {
                grupos[`G-${grupo.numero_grupo}, ${grupo.cantidad_estudiantes} estudiantes`] = grupo.codigo;
            });

            $.each(aulas, (key, value) => {
                $("#codigo_aula").append($("<option></option>")
                    .attr("value", value).text(key));
            });
            $.each(materias, (key, value) => {
                $("#codigo_materia").append($("<option></option>")
                    .attr("value", value).text(key));
            });
            $.each(maestros, (key, value) => {
                $("#cedula_maestro").append($("<option></option>")
                    .attr("value", value).text(key));
            });
            $.each(grupos, (key, value) => {
                $("#codigo_grupo").append($("<option></option>")
                    .attr("value", value).text(key));
            });
        });
    });
</script>
